.team-member-display {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.team-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.team-right-column {
    width: -webkit-fill-available;
}

.team-left-column {
    border-right: 1px solid #003366;
    padding: 0 1rem;
    width: 25vw;
}

.team-page-container-selected {
    display: flex;
    flex-direction: row;
}

.team-page-container {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.team-member-image {
    width: -webkit-fill-available;
}

.team-member-description {
    background-color: #003366;
    color: #ffffff;
    padding: 0.5rem;
}

.team-contact-button {
    background-color: #003366;
    color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;;
}

.team-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
}

.display-name {
    display: flex;
    background-color: #003366;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1rem;
}