.carousel-container {
    align-items: center;
    border: 2px solid black;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.carousel-container-label {
    background-color: hotpink;
    color: white;
    opacity: 50%;
    position: absolute;
    width: 35%;
    z-index: 999999999;
}

img {
    padding: 0 1rem;
    width: 30%;
}