.carousel-container {
    align-items: center;
    background-color: peru;
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel-container-label {
    background-color: #d4c22b;
    color: white;
    opacity: 75%;
    position: absolute;
    width: 35%;
    z-index: 999999999;
}

img {
    padding: 0 1rem;
    width: 30%;
}