.carousel-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.carousel-container-label {
    background-color: #d4c22b;
    color: #000035;
    cursor: pointer;
    opacity: 75%;
    padding: 0 1rem;
    position: absolute;
    z-index: 999999999;
}

.photo {
    padding: 0 1rem;
    width: 20%
}
