.general-container {
    align-items: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 1rem;
}
.outer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: -webkit-fill-available;
}

.firm-title {
    margin-top: 0;
}