.active {
    background-color: chartreuse;
}
.inactive {
    background-color: cornsilk;
}

input {
    line-height: 1.5rem;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}

textarea {
    font-size: 1rem;
    line-height: 2rem;
    height: 15rem;
}

button {
    font-size: 1.25rem;
}

.button-container {
    display: inline-flex;
    justify-content: space-evenly;
    padding-left: 0.5rem;
    width: 50%;
}

.button-label {
    width: 50%;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.container-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    width: 50%;
}

.radio-input-container {
    display: inline-flex;
    padding-top: 0.5rem;
}

.two-input-container {
    display: inline-flex;
}

.overarch-contact-container {
    background-color: peachpuff;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    width: -webkit-fill-available;
}

.input-message-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.submit-button {
    width: 50%;
}

.submit-button-container {
    display: inline-flex;
    justify-content: center;
}