.two-columns {
    display: inline-flex;
    padding-top: 2rem;
    justify-content: space-evenly;
    width: 100%;
}

.vertical-column {
    background-color: #ecdbad;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.contact-title {
    margin-top: 0
}