.footer-container {
    background-color: #f3e42e;
    bottom: 0;
    color: white;
    display: inline-flex;
    min-height: 3rem;
    justify-content: center;
    align-items: center;
    width: -webkit-fill-available;
    position: sticky;
}