.nav-link-container {
  display: inline-flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
  width: 100%;
}

.App-header {
  background-color: #f3e42e;
  color: white;
  display: inline-flex;
  width: 100%;
}

.nav-link {
  color: white;
  text-decoration: none;
}
